<template>
<div>
  <Hero/>
  <Features/>
  <Banner/>
  <Testimonials/>
  <CTA/>
  <!-- <Social/> -->
</div>
</template>

<script setup>
import CTA from '../components/CTA.vue'
import Hero from '../components/Hero.vue'
import Features from '../components/Features.vue'
import Banner from '../components/Banner.vue'
import Testimonials from '../components/Testimonials.vue'
import Social from '../components/Social.vue'
</script>

<style>
</style>