<template>
<div class="mt-12">
  <h1>Showcase</h1>
</div>
</template>

<script setup>
import Hero from '../components/Hero.vue'
import Features from '../components/Features.vue'
</script>

<style>
</style>